Средствами библиотеки Pandas языка Python в создайте датафрейм df_all из файла file.csv, в котором собраны данные о погоде в столицах мира по месяцам с 2018 по 2022 год. Найдите минимальное значение колонки'tmin' в Moscow за 2022 год.

In [8]:
import pandas as pd
import numpy as np

In [9]:
frame = pd.read_csv('./file.csv')

In [10]:
frame

,date,country,city,Latitude,Longitude,tavg,tmin,tmax,wdir,wspd,pres
0,21-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.4,20.9,25.5,329.0,9.3,1009.6
1,22-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.5,21.0,25.7,337.0,9.4,1010.0
2,23-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.5,21.1,25.5,41.0,8.2,1007.7
3,24-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,24.3,20.8,27.1,10.0,9.3,1004.4
4,25-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,26.5,22.7,30.0,9.0,9.7,1002.0
...,...,...,...,...,...,...,...,...,...,...,...
324642,07-10-2022,Western Sahara,El Aaiún,27.125287,-13.162500,22.1,18.6,25.6,3.0,24.7,1013.7
324643,08-10-2022,Western Sahara,El Aaiún,27.125287,-13.162500,22.1,19.6,25.6,2.0,20.5,1013.0
324644,09-10-2022,Western Sahara,El Aaiún,27.125287,-13.162500,23.4,19.6,29.6,34.0,24.0,1015.4
324645,10-10-2022,Western Sahara,El Aaiún,27.125287,-13.162500,23.1,18.6,29.7,39.0,28.4,1017.6
324646,11-10-2022,Western Sahara,El Aaiún,27.125287,-13.162500,21.4,17.3,27.5,21.0,21.3,1018.6

In [11]:
frame['tmin'].min()

-39.3

In [15]:
frame['date'] = pd.to_datetime(frame['date'], dayfirst=True)

In [16]:
frame['date'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
324642    2022
324643    2022
324644    2022
324645    2022
324646    2022
Name: date, Length: 324647, dtype: int32

In [17]:
frame.dtypes

date         datetime64[ns]
country              object
city                 object
Latitude            float64
Longitude           float64
tavg                float64
tmin                float64
tmax                float64
wdir                float64
wspd                float64
pres                float64
dtype: object

In [18]:
df = frame

Ответ:

In [28]:
df[(df['date'].dt.year == 2022) & (df['city'] == 'Moscow')]['tmin'].min()

-17.9