In [129]:
import pandas as pd
import numpy as np

# Задача 1
Средствами библиотеки Pandas языка Python считайте данные из файла titanic.csv (набор данных выживших пассажиров Титаника: класс кабины, возраст, пол, порт посадки и т.д.) и найдите требуюмую информацию:
1. Введите количество записей в полученном датафрейме
2. Введите среднее значение возраста пассажиров (округлите до целого)

In [130]:
frame = pd.read_csv('./file.csv')

In [131]:
frame

,PassengerID,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0
...,...,...,...,...,...,...,...
1308,1309,"Zakarian, Mr Artun",3rd,27.00,male,0,0
1309,1310,"Zakarian, Mr Maprieder",3rd,26.00,male,0,0
1310,1311,"Zenni, Mr Philip",3rd,22.00,male,0,0
1311,1312,"Lievens, Mr Rene",3rd,24.00,male,0,0
1312,1313,"Zimmerman, Leo",3rd,29.00,male,0,0

Удалим строки со знаечнием NaN

In [132]:
frame2 = frame.dropna()

In [133]:
mean_val = np.mean(frame2["Age"].to_numpy(), axis=0)

In [134]:
mean_val

30.397989417989418

In [135]:
lista = []

In [136]:
frame3 = frame2.groupby(['Sex'])

Второй способ для среднего

In [137]:
frame2["Age"].mean()

30.397989417989418

Посчитаем средний возраст мужчин

In [138]:
frame_male = frame2.loc[frame2['Sex'] == 'male']

In [139]:
frame_male["Age"].mean()

31.014337606837604

Средний возраст женщин

In [140]:
frame_female = frame2.loc[frame2['Sex'] == 'female']

In [141]:
frame_female["Age"].mean()

29.39642361111111

In [142]:
mean_val = np.mean(frame_female["Age"].to_numpy(), axis=0)

In [143]:
round(mean_val)

29

Сортировка

In [144]:
frame_sort = frame.sort_values('PClass')

In [145]:
frame_sort.iloc[1029]

PassengerID                        741
Name           Crease, Mr Ernest James
PClass                             3rd
Age                               19.0
Sex                               male
Survived                             0
SexCode                              0
Name: 740, dtype: object

# Задача 2

Получите выборку из набора данных на основании следующих критериев:

    Все строки, где 0 и [82.9453125, 84.3515625]
    И все строки, где 1 и [58.7890625, 65.078125]

С Pandas можно сделать следующим образом:

    выбор строк, которые соответствуют нескольким условиям

    df.loc[((df['col1'] == 'A') & (df['col2' ] == 'G'))]

    выбор строк, которые соответствуют одному из нескольких условий

    df.loc[((df['col1'] > 10) | (df['col2' ] < 8))]

In [146]:
frame_s = pd.read_csv('./file2.csv')

In [147]:
frame_s

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
...,...,...,...,...,...,...,...,...,...
17893,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,0
17894,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,0
17895,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,0
17896,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,0
17897,57.062500,85.797340,1.406391,0.089520,188.306020,64.712562,-1.597527,1.429475,0

In [148]:
# frame_s[frame_s["MIP"] < 84.3515625 & frame_s["MIP"] <= 82.9453125 ]

In [149]:
frame_s2 = frame_s.loc[(((frame_s['MIP'] <= 84.3515625) & (frame_s["MIP"] >= 82.9453125) & (frame_s['TG'] == 0)) | ((frame_s['MIP'] <= 65.078125) & (frame_s["MIP"] >= 58.7890625) & (frame_s['TG'] == 1)))]

print(frame_s2.count)

In [150]:
frame_s2["MIP"].mean()

72.8332301980198